# Enable color support of commands
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# LS aliases
alias ll='ls -alF --group-directories-first'
alias la='ls -A'
alias l='ls -CF'

# Git aliases
alias gs='git status -b -s -uall'
alias ga='git add'
alias gaa='git add -A'
alias gr='git reset --'
alias gb='git branch'
alias gc='git commit'
alias gck='git checkout'
alias gl='git log'

# Dotfiles
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
